#top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
    height: 49px;
    background: #212739;
}

#logo img{
	    width: 275px;
    margin-top: 7px;
    margin-left: 15px;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/precon.gif) center no-repeat #fff;
}

.faucetcontainer{
	margin-top : 10%;
}
#togglecontlabel{
	font-size: 15px;
    font-weight: 400;
    margin-top:15px;
}
body {
    min-height: 100%;
    background: #ecf1f5;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body, textarea, input, select, option, button {
    color: #7f91a3;
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 1.38461538462;
}

#nav {
    position: absolute;
    top: 0;
    right: 57px;
    bottom: 0;
}

#send{
	    background: #22283a;
    color: white;
}
.g-recaptcha{
	margin-top: 15px;
}




@media only screen and (max-width: 93.75em)
		#nav {
		    right: 20px;
		}

}