
.label
{
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial;

}
body{
  background: blue;
}
.contents
{    
    border: 2px solid green ;
    background-color: black;



    color: red;
    padding: 5px;
 
   height: 50px;
    width: 300px;
   
}
#tag-sel-ctn-0{
  min-height: 90px;
}
.name
{
    color: #18B5F0;
}
.left
{
  
    width: 100%;
    height: 50px;
    background: blue;
    
   
}
.right
{
    margin-left: 60px;
    line-height:50px;
}
.clear
{
    clear: both;
}
#printwalletcont {
    padding: 10px;
    background: white;
   
  }
  
   #printWallet {
    float: right;
      /*margin-top: -30px;*/
  }
  .walletcontent{
    clear: both;
    padding:20px;
  
  }
  #congrats{
    display: none;
    color: green;
  }

  #qrcodecontainer2{display: none;}
  .walletheader{
        background: #23293a;
      padding: 15px;
  }
  .walletheader img{
    width: 100%;
  }
  #qrcode {
    width:30%;
    margin: 10px;
    float: left;
      
  }
  div#modaladdrcont {
    border: none;
    padding: 20px;
    clear: both;
    display: block;
}

  #print{
    width: 100%;
  }
  #qrcode2 {
    width:30%;
    margin: 10px;
    float: right;
      
  }
  #qrcode6 {
    width:30%;
    margin: 10px;
    float: right;
      
  }
p#seed {
    font-size: 15px;
    padding: 15px;
    background: #eae8e8;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: -10px;
    -webkit-print-color-adjust: exact; 
}

.addrcl{
  margin-top: 10px;
}
.walletcontent{
  margin-bottom: 30px;
}

  @media print {
p#seed {
    font-size: 15px;
    padding: 15px;
    background: #eae8e8;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: -10px;
    -webkit-print-color-adjust: exact; 
}

}

