.themefee{
      font-weight: 700;
    font-size: 12px;
    color: #3f4452;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #a11ab9;
    cursor: default;
    background-color: #23293a;
    font-weight: 800;
    border-color: #d2d7dd;

}

.pagination{
   cursor: pointer;
   /*font-size: 13px;*/
}
.walletcont{
     width: 100%;
    float: left;
    text-align: center;
    padding-top: 85px;
    background: #ffffff;
    border-radius: 4px;
    padding-bottom: 6% ;
}
.radioExistingwallet{
    -webkit-appearance: radio !important;
    appearance: radio;
    -moz-appearance: radio;
    float: left;
    width: auto;
    margin-right: 6px;
    margin-top: 3px;
    height: 13px !important;
  }
.radioExistwaltForm{
  font-size: 15px;
    width: 30%;
    float: left;
}
.mtop34{
  margin-top: 9px;
}
#cancelBtn {
    background: none !important;
}
button.close.testnetColor {
    background: white !important;
}
/*#hexdata{
  width: 85%;
}*/
.testnetColor{
      background: #339ab9 !important;
}

.walletpng {
    width: 38px;
    float: right;
    margin-right: 10px;
}
.walletpngcont{
  margin-bottom: 0px;
}
.qrcody{

}
#modalshowkey{
  word-wrap: break-word;
}
i.fas.fa-dot-circle.themecolor.maright10 {
    margin-right: 10px;
}
#downloadlink{
  font-size: 15px;
}
#createKeyCloseBtn{
  background: #22283a;
    color: white;
    border: none;
}

.hidden {
    display: block !important;
}
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #23293a;
    text-decoration: none;
    background-color: #ecf1f6;
    border: 1px solid #ddd;
}
span.xrk.out {
    background: #ce5454;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    margin-left: 5px;
    font-size: 12px;
    text-align: right;
    float: left;
    text-align: center;
    margin-right: 10px;
    text-transform: uppercase;
}
span.xrk.in {
    background: #31b731c4 ;
   color: white;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    margin-left: 5px;
    font-size: 12px;
    text-align: right;
    float: left;
    text-align: center;
    margin-right: 10px;
    text-transform: uppercase;
}
button.close.errorclose {
    text-shadow: none;
    color: white;
    background: black !important;
    opacity: 9;
    font-size: 16px;
    padding: 8px;
    text-transform: lowercase;
    -webkit-font-smoothing: unset;
}
select#maxRows {
    width: 200px;
}
#notransaction{
  display: none;
      font-size: 13px;
    font-weight: 600;
    color: #af4747;
}
.errorcolor{
  color: #af4747;
  font-size: 14px;
}
.privatemodalcontainer{
  position: relative;
}
.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}

label#modalshowaddr {
        color: #3f4453;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    /* overflow-x: scroll; */
    cursor: pointer;
    margin-bottom: 15px;
    word-wrap: break-word;
    
}
.optionalrecdata{
  font-size: 13px;
    font-weight: 600;
    padding-top: 5px;
}
h2.before-list-inline{
      text-align: left;
    width: 99% !important;
}

.hrcolor{
  border-top: 1px solid #da83cb;
}
.mt40{
  margin-top: 40px;
}
.senderaddr{
      color: #8e9eae !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}
.modal-header .close {
    margin-top: -2px;
    box-shadow: none;
    width: auto;
    float: right;
    text-align: right;
}
.sendform{
  width: 45%;
}
.showaddr{
      color: #3f4453;
    font-size: 14px;
    font-weight: 600;
    float: right;
}
.fleft{
  float: left !important;
}
.fnone{
  float: none !important; 
}
span.xrk {
    font-weight: 600;
    font-size: 13px;
}


#export{ display: none}
.suffix, #sendTransactionBtn,#addChildAddress{ display: none;
}
.pcolor{
    font-size: 12px;
    color: #8292a5;
}
#sendT{
        width: 150px;
    height: 32px;
}
#childAddresses{
        text-align: left;
    color: #22283a;
}
.createwalletBtn{
        float: none !important;
    margin: 0 auto;
    overflow: hidden;
    float: left;
    min-width: 80px;
    padding: 7.5px 27px;
    box-shadow: 0 2px 4px rgba(11,31,79,.5);
    border-radius: 4px;
    border: 0;
    background: #22283a;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.loginContainer{
        width: 600px;
    background: white;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 3px 4px rgba(24,59,101,.37);
    text-align: center;
    margin-bottom: 17%;
}

.ExistingsideDiv, .ExistingPassDiv{
  width: 50%;
  float: left;
  display: none;
}

.inputcont{
 width: 60%;
    position: relative;
    padding-left: 40px;
    margin: 0 auto;
}

.inputcont input[type="password"], .inputcont input[type="text"]{
      width: 87%;
    height: 40px;
    border: 1px solid gainsboro;
    float: left;
}
.inputcont input[type="submit"]{
 width: 30px;
    height: 40px;
    border: 1px solid gainsboro;
    background: #ececec;
    float: left;
    box-shadow: none;
    border-radius: 0px;
    margin-left: -2px;
}
.fa-lg {
    font-size: 3.333333em;
    line-height: .75em;
    vertical-align: -15%;
    position: absolute;
    top: 5px;
    right: 38px;
    z-index: 9;
    cursor: pointer;
}
.showPassword{
  z-index: 99 !important;
}
.keydivcont{
      position: relative;
    width: 90%;
    margin: 0 auto;
}
.createwalletheading{
      margin: 0 0 40px;
    color: #3f4454;
    font-size: 3.3em;
    font-weight: 400;
    line-height: 1.1;
}
.newpasspara{
  font-size: 1.4rem;
    color: black;
    font-weight: 700;
}
.walletsubmit{
        width: 210px !important;
    /*border-radius: 0px!important;*/
    /*height: 50px!important;*/
    font-size: 20px!important;
    text-transform: capitalize!important;
    /*background: #22283a !important;*/
    margin-left: 41%!important;
    margin-right: 41%!important;
    text-align: center!important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.inforpara{
         font-size: 15px;
    color: #1f232d;
    font-weight: 200;
    font-family: Lato, sans-serif;
    margin-top: 50px;
}

.infospan{
  font-size: 16px;
    font-weight: 600;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
.faqcont{
      width: 22%;
    background: white;
    /*height: 400px;*/
    float: left;
    margin-left: 2%;
    padding: 25px;
}

.already{
      margin: 0 0 20px;
    color: #3f4454;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.1;
    font-family: Lato, sans-serif;
}
.alreadyul{
  padding-left: 10px;
}

.alreadyli{
      font-size: 1.6em;
}
.keydiv{
        height: 35px;
    width: 100%;
    background: #ececec;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}
.fa-clone{
  font-size: 22px;
    position: absolute;
    top: 7px;
    /* color: white; */
    right: 8px;
}
.ppwbtn{
      border-radius: 0px;
    text-transform: capitalize;
    margin-left: 40%;
    margin-right: 40%;
    width: 22%;
        border-radius: 48px;
}
.saveheading{
      font-size: 3em;
    font-weight: 400;
}

.disclaimerdiv{
      margin-top: 80px;
    font-size: 12px;
     line-height: 22px;

    background: white;
    margin-bottom: 40px;
    padding: 30px;
    height: 200px;
}
.pinkspan{
  color: #a119b9;
}
.margintop30{
  margin-top: 30px;
}
.logininputs{
        display: block;
    width: 79%;
    border-radius: 4px;
    border: 1px solid #a4aaba;
    background: #fff;
    color: #a4aaba;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.notify{
      width: 75px;
    background: #22283a;
    color: white;
    padding: 5px;
    font-size: 13px;
    border-radius: 6px;
    position: absolute;
    right: 0px;
    top: 18px;
    text-align: center;
     -moz-animation: cssAnimation 0s ease-in 1s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 1s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 1s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 1s forwards;
    /*-webkit-animation-fill-mode: forwards;*/
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.qrcody{ display: none; }

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/precon.gif) center no-repeat #fff;
}

.background-highlight{
  background: gainsboro;
}


.formerrorpara{
      z-index: 12;
    font-size: 13px;
    color: #c12f2f;
    /* visibility: hidden; */
}
#logo img{
      width: 275px;
    margin-top: 11px;
}


/*toggle container*/
.tg-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

#togglecont{
    margin-top: 7px;
    float: left;
}
#togglecontlabel{
       float: right;
    margin-left: 13px;
    margin-top: 7px;
    font-size: 15px;
    color : #ffffff;
}
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #777171;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #a119b9;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  -webkit-box-shadow: inset 0 0 0 2em #e8eae9;
          box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #7FC6A6;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}


.toggldiv{
        width: auto;
    margin-right: 30px;
    margin-top: 7px;
    float: right;
}

.menu{
    display: none !important;
}
/*toggle container*/


.width-a.hidden {
    display: none;
}

#sendRecipientaddress, #sendBTC{
  border: 1px solid #a4aaba ;
}

.tabs-inner {
  padding-bottom: 20px !important;
}
#logo {
    margin-left: 20px;
}
#sendt{
  float: left;
}

.btn-danger {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
.flright{
  float: right !important;
}

#footer{
  font-size: 10px;
}
th{
      padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    padding: 10px;
}


/*some media queries here */

@media only screen and (max-width: 900px){
    .loginContainer{
        width: 100%;
    }
    #top > .menu{
        display: none;
    }
      #footer {
    /* position: absolute; */
    z-index: 1;
    padding: 0 0 0 20px;
    bottom: -50px;
    font-size: 12px;
    margin-top: 50px;
}


}


@media only screen and (max-width : 770px){
    
    .loginputcontainer{
            width: 480px;
    }
    .showaddr{
      font-size: 11px;
    }
    .sendform {
    width: 100%;
    }
   

    #content {
    position: relative;
    z-index: 2;
    margin-top: 40px;
  }
  .sendform {
      width: 100%;
  }
  #content > *:last-child {
    margin-bottom: 94px;
  }

  a.tabs-header.mobile-only{
    width: 100%;
  }
.senderaddr {
    color: #3f4453 !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    width: 100%;
    overflow-x: scroll;
}


}
@media only screen and (max-width : 458px){

    #logo img {
     width: 100%; 
    margin-top: 7px;
    }

    #logo{
      width: 275px;
    margin: 0 auto;
}
    
    .loginputcontainer{
            width: 380px;
    }
    .toggldiv{
            position: absolute;
    right: 0;
    top: 50px;
    }
   
     #nav {
       right: 20px;
    margin-top: 10px;
    /*background: #54b2ce;*/
    position: initial;
    text-align: right;
    }
    #content {
    position: relative;
    z-index: 2;
    margin-top: 40px;
  }
  #togglecont {
    margin-top: 9px;
    float: left;
    margin-left: 36px;
}

#nav > ul {  padding: 0px 0 0; margin-right: 22px; }


}
input#authorize{
  border: none;
}

.swal2-modal .swal2-styled {
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin: 15px 5px 0;
    padding: 10px 32px;
    text-align: center;
    margin: 0;
    margin-left: 50;
    width: 250px;
    margin: 0 auto !important;
}

@media only screen and (max-width : 438px){
    
    .loginputcontainer{
            width: 380px;
    }
}
